h1 {
  color: blue;
  font-family: 'Fugaz One', cursive;

}
h2 {
  color: slateblue;
  font-family: 'Literata', serif;
}
h3 {
  color: turquoise;
  font-family: 'Literata', serif;
}
li {
  color: purple;
  font-family: 'Literata', serif;
}
p {
  color: purple;
  font-family: 'Literata', serif;
}
